body {}

#barbearia {
    width: 100%;
}

.principal {
    background: #cccccc
}

h1 {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #ff0000;
}

.itens {
    font-style: italic
}

.beneficios {
    background: #ffffff
}

h2 {
    text-align: center;
}